<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saucecode.thegoviya">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_thegoviyaicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/GoviyaTheme"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".regActivity" />
        <activity android:name=".homeActivity" />
        <activity android:name=".SellHarvest" />
        <activity android:name=".BuyerHome" />
        <activity android:name=".DisplayProducts" />

        <activity android:name=".BluetoothDevices" />
        <activity android:name=".Moisture"></activity>

        <activity android:name=".BuyProduct"></activity>

    </application>

</manifest>